
<div id="add" class="col-md-6 col-md-offset-3">
    <form>
        <h3>Nueva Asignatura:</h3>
        <div>
            <div class="has-feedback">
                <input type="text" class="form-control" placeholder="Nombre" ng-model="asignatura.nombre"> </input>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div><br/>
            
        </div>
        <div>
        </div>
        <a type="submit" class="btn btn-info" ng-click="agregar()">Agregar</a>
        <a style="float: right;" class="btn btn-success" ui-sref='asignaturas'>Volver</a>
        <br/><br/>
    </form>
    <div class="panel-body">
        <p>
            <strong>Nombre: </strong>{{ asignatura.nombre }}<br/><hr>
            <br/>
        </p>
    </div>
</div>
<!-- <div>
    <a ui-sref="alta">Regresar</a>
</div> -->

